.content {
  width: 60%;
  min-height: 500px;
  margin: auto;
  margin-top: 3rem;
}

.content p {
  font-size: 1.2rem;
  margin: 1rem 0 2rem 0;
  letter-spacing: 0.2px;
}

.content blockquote {
  border-left: 5px solid var(--color-black);
  padding: 10px 0 10px 15px;
}

.content blockquote p {
  margin: 0rem;
}

@media (max-width: 768px) {
  .content {
    width: 80%;
  }

  .content p {
    font-size: 1rem;
  }
}
